// Define variables for your color scheme

$green: #044827;
$green-secondary: #e1f3ea;
$green-light: #eef6f3;
$orange: #f37522;
$orange-light: #fff2e9;
$grey-dark: #101828;
$grey: #667085;
$grey-lighter: #d0d5dd;
$grey-light: #fafaff;
$grey-blue: #344054;
$white: #ffffff;
$white-grey: #eaecf0;
$yellow: #ffe066;
$red: #d03737;
$blue: #2176ae;
$pink: #ffcad4;
