<div class="footer d-flex justify-content-between align-items-center">
  <div class="footer-brand">
    <%= link_to root_path do  %>
      <%= svg_tag "logo-white" %>
    <% end %>
  </div>
  <div class="footer-links">
    <%= mail_to "contact@langagecircle.com", "contact@langagecircle.com" %>
    <%= link_to "Mentions Légales", legal_path  %>
  </div>
</div>
