$footer-height: 100px;
.footer {
  background-color: $green;
  height: 100px;
  padding: 0px 50px;
  margin-top: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  @media (max-width: map-get($grid-breakpoints, md)) {
    height: 126px;
    padding: 20px 50px;
    flex-direction: column;
  }
}

.footer-brand {
  height: 30px;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: 300;
  padding: 0px 10px;
}

.footer-copyright {
  color: white;
  opacity: 0.4;
  font-size: 12px;
  font-weight: 300;
  text-decoration: none;

  a {
    color: white;
    opacity: 0.4;

    &:hover {
      color: white;
      opacity: 1;
      text-decoration: none;
    }
  }
}
