@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";
@import "config/sizing";

// Your CSS partials
@import "components/index";
